@{
    ViewData["Title"] = "Manos";
}

@model HomeViewModel
<!-- Home -->
<div id="home">
  <div class="home-navbar">
    <div class="navbar-hamburguer" onclick="$('#home-sidebar').toggleClass('show-sidebar')">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="navbar-logo">
      <img alt="Manos" src="~/images/old-logo-1.png" />
    </div>
    <div class="navbar-buttons">
      <ul>
        <li class="navbar-button-blue" onclick="$('#home-content-wrapper').scrollTo($('#start'), 500)">
          <span>Inicio</span>
        </li>
        <li class="navbar-button-green" onclick="$('#home-content-wrapper').scrollTo($('#about'), 500)">
          <span>Nosotros</span>
        </li>
        <li class="navbar-button-red" onclick="$('#home-content-wrapper').scrollTo($('#customers'), 500)">
          <span>Clientes</span>
        </li>
        <li class="navbar-button-yellow" onclick="$('#home-join-modal-trigger').trigger('click')">
          <span>Únete</span>
        </li>
        @*<li class="navbar-button-login">
              <span>Ingresa</span>
          </li>*@
      </ul>
    </div>
  </div>
  <div id="home-sidebar">
    <ul>
      <li class="navbar-button-blue" onclick="$('#home-content-wrapper').scrollTo($('#start'), 500); $('#home-sidebar').toggleClass('show-sidebar');">
        <span>Inicio</span>
      </li>
      <li class="navbar-button-green" onclick="$('#home-content-wrapper').scrollTo($('#about'), 500); $('#home-sidebar').toggleClass('show-sidebar');">
        <span>Nosotros</span>
      </li>
      <li class="navbar-button-red" onclick="$('#home-content-wrapper').scrollTo($('#customers'), 500); $('#home-sidebar').toggleClass('show-sidebar');">
        <span>Clientes</span>
      </li>
      <li class="navbar-button-yellow" onclick="$('#home-join-modal-trigger').trigger('click'); $('#home-sidebar').toggleClass('show-sidebar');">
        <span>Únete</span>
      </li>
      @*<li class="navbar-button-login">
            <span>Ingresa</span>
        </li>*@
    </ul>
  </div>
  <div id="home-content-wrapper">
    <div id="start">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h1>SELECCIONA TU CATEGORÍA Y PIDE TU SERVICIO</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <img class="img-responsive job-category-home" alt="Hogas y oficinas" src="~/images/job-category-1@(this.Model.IsMobileBrowser ? "-min" : "").jpg" />
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-responsive job-category-home" alt="Cuidado personal" src="~/images/job-category-2@(this.Model.IsMobileBrowser ? "-min" : "").jpg" />
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-responsive job-category-home" alt="Mascotas" src="~/images/job-category-3@(this.Model.IsMobileBrowser ? "-min" : "").jpg" />
          </div>
          <div class="col-xs-6 col-sm-3">
            <img class="img-responsive job-category-home" alt="Multi manos" src="~/images/job-category-4@(this.Model.IsMobileBrowser ? "-min" : "").jpg" />
          </div>
        </div>
      </div>
    </div>
    <div id="about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>NOSOTROS</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="black-ruler" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/QZkJMb_Ava0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-xs-12 about-text">
            <p>Somos la primera plataforma de servicios a domicilio.</p>
            <p>Llena tus datos y comienza a vivir la vida de una manera diferente con Manos.</p>
            <p><a href="/terminos" style="cursor: pointer;">Ver términos y condiciones de uso.</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="customers">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>NUESTROS CLIENTES</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <hr class="white-ruler" />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="owl-carousel owl-theme">
              <div>
                <img class="img-responsive" alt="Cliente 1" src="~/images/customer-1@(this.Model.IsMobileBrowser ? "-min" : "").png" />
              </div>
              <div>
                <img class="img-responsive" alt="Cliente 2" src="~/images/customer-2@(this.Model.IsMobileBrowser ? "-min" : "").png" />
              </div>
              <div>
                <img class="img-responsive" alt="Cliente 3" src="~/images/customer-3@(this.Model.IsMobileBrowser ? "-min" : "").png" />
              </div>
              <div>
                <img class="img-responsive" alt="Cliente 4" src="~/images/customer-4@(this.Model.IsMobileBrowser ? "-min" : "").png" />
              </div>
              <div>
                <img class="img-responsive" alt="Cliente 5" src="~/images/customer-5@(this.Model.IsMobileBrowser ? "-min" : "").png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <h3>UBICACIÓN</h3>
            <p class="centered-text">Lima, Perú</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h3>EN LA WEB</h3>
            <div class="centered-text">
              <a class="btn-social fa fa-facebook" href="https://www.facebook.com/ManosApp/" target="_blank"></a>
              <a class="btn-social fa fa-instagram" href="https://www.instagram.com/manosapp" target="_blank"></a>
              <a class="btn-social fa fa-youtube" href="https://www.youtube.com/channel/UCtBZ6QE3rZqXg83_UE1KA3A" target="_blank"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <h3>ESCRÍBENOS</h3>
            <p class="centered-text">Correo</p>
            <a href="mailto:contacto@manos.pe"><p class="centered-text">contacto@manos.pe</p></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.home -->
<!-- Home Join Modal -->
<button id="home-join-modal-trigger" data-toggle="modal" data-target="#home-join-modal"></button>
<div id="home-join-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3>¿QUIERES SER UN MANOS?</h3>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4cWz9LdRjBw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="more-info">

        </div>
      </div>
      <div class="modal-footer">
        Para más información manda un correo a <a href="mailto:contacto@manos.pe">contacto@manos.pe</a>
      </div>
    </div>
  </div>
</div>
<!-- /.home-join-modal -->

@section Scripts {
  <script>
    ko.applyBindings(new HomeViewModel());
  </script>
}